<div class='future'>

  {{frost-info-bar hook='info-bar'}}

  <div class='future-tabs'>
    {{#frost-detail-tabs
      hook='detail-tabs'
      tabs=tabs
      selectedTab=selectedTab
      onSelect=(action 'onSelect')
      as |controls|
     }}
      {{controls.more
        tabs=apiTabs
      }}
     {{/frost-detail-tabs}}
  </div>

  <div class='future-content'>
    {{frost-detail-tabs-more-outlet
      hook='detail-tabs-more-outlet'
    }}

    {{!-- {{tabContent}} --}}

    {{frost-detail-subtabs
      hook='frost-detail-subtabs'
      subtabs=viewSubtabs
      selectedSubtab=selectedSubtab
      onSelect=(action 'onSubtabSelect')
    }}
  </div>

</div>
