{{!-- BEGIN-SNIPPET selected-tab-api }}
{{frost-tabs
  selectedTab='<selected tab id>'
  onChange=(action '<action name>')
  ...
  tabs=(array
    (component 'frost-tab'
      id='<tab id>'
      text='<tab text>'
      disable='<true/false>'
      content=(component '<name of the content component>' ...))
  )
}}
{{ END-SNIPPET --}}

<div class='addon-demo-api'>
  <div class='addon-demo-title'>
    Notes
  </div>
  <div class='addon-demo-notes'>
    <p>
      <p>
        The <i>selectedTab</i> is passed as a parameter. When a tab is clicked the <i>onChange</i> action is called.
      </p>
      <p>
        If you want to make sure to keep the tab selection properly you need to make sure to change the selected
        tab id when <i>onChange</i> action is triggered.
      </p>
      <p>
        The <i>onChange</i> action receive the selected tab id as a parameter.
      </p>
    </p>
  </div>
  <div class='addon-demo-title'>
    API
  </div>
  <div class='addon-demo-snippet'>
    {{code-snippet name='selected-tab-api.hbs'}}
  </div>
</div>
<div class='addon-demo-live'>
  <div class='addon-demo-title'>
    Live demo
  </div>
  <div class='addon-demo-snippet'>
    <i>Demo controller</i>
    {{code-snippet name='selected-tab-controller.js'}}
  </div>
  <div class='addon-demo-snippet'>
    <i>Demo template</i>
    {{code-snippet name='content-selected-tab.hbs'}}
  </div>
  <div class='addon-demo-component'>
    {{! BEGIN-SNIPPET content-selected-tab }}
    {{frost-tabs
      selectedTab=selectedTab
      onChange=(action 'onChange')
      tabs=(array
        (component 'frost-tab'
          id='template'
          text='Template'
          content=(component 'tab-content' text='template'))
        (component 'frost-tab'
          id='controller'
          text='Controller'
          content=(component 'tab-content' text='controller'))
        (component 'frost-tab'
          id='route'
          text='Route'
          content=(component 'tab-content' text='route'))
        (component 'frost-tab'
          id='css'
          text='CSS'
          disabled=true
          content=(component 'tab-content' text='CSS'))
      )
    }}
    {{! END-SNIPPET }}
  </div>
</div>