{{!-- <div class='{{css}}-subtabs'> --}}
  {{#each _subtabs key='id' as |tab|}}
    <div class='{{css}}-selector'>
      {{frost-icon
      hook=(concat hookPrefix '-icon')
      icon=tab.icon
      pack=tab.pack}}
      <div class='{{css}}-label'>
        {{tab.label}}
      </div>
    </div>
  {{/each}}
{{!-- </div> --}}
