<div class="tab-nav" data-test={{hook (concat hook '-tabs') }}>
  {{#if hasBlock}}
    {{yield (hash
      tab=(component tabComponent
        parentHook=hook
        targetOutlet=targetOutlet
        selectedTab=selectedTab
        onChange=onChange
      )
    )}}
  {{else}}
    {{#each tabs as |tab index|}}
      <div class='tab-wrapper' data-test={{hook (concat hook '-tab') index=index}}>
        {{component tab
          parentHook=hook
          selectedTab=selectedTab
          targetOutlet=targetOutlet
          onChange=onChange
        }}
      </div>
    {{/each}}
  {{/if}}
</div>

{{#from-elsewhere name=targetOutlet as |tab|}}
  <div class='content {{tab.contentClass}}' data-test={{hook (concat hook '-tab-content')}}>
    {{component tab.content}}
  </div>
{{/from-elsewhere}}
