{{!-- BEGIN-SNIPPET  frost-detail-tabs-api}}
  <div class='future-tabs'>
    {{#frost-detail-tabs
      hook='detail-tabs'
      tabs= <array of common tabs>
      selectedTab=selectedTab
      onSelect=(action 'onSelect')
    as |controls|
    }}
      {{controls.more
        tabs= <array of specific tabs>
      }}
    {{/frost-detail-tabs}}
  </div>
  <div class='future-content'>
    {{frost-detail-tabs-more-outlet
      hook='detail-tabs-more-outlet'
    }}
    {{#if (gt viewSubtabs.length 0)}}
      {{frost-detail-subtabs
        hook='frost-detail-subtabs'
        subtabs= <Array of vertical subtabs of parent tab>
        selectedSubtab=selectedSubtab
        onSelect=(action 'onSubtabSelect')
      }}
    {{/if}}
    <div class='frost-detail-tab-content'>
      {{content}}
    </div>
    {{frost-detail-tab-actions
      hook='detail-tab-actions'
      tabActions= <Array of actions related to tab content>
      onDispatch=(action 'dispatch')
    }}
  </div>
{{ END-SNIPPET --}}

<div class='addon-demo-api'>
  <div class='addon-demo-title'>
    Notes
  </div>
  <div class='addon-demo-notes'>
    <p>
      <p>
        This demo displays the frost-detail-tabs features. User can add more tabs by clicking more tab and
        this displays the sub-tabs along with the tab content related actions.
      </p>
    </p>
  </div>
  <div class='addon-demo-title'>
    API
  </div>
  <div class='addon-demo-snippet'>
    {{code-snippet name='frost-detail-tabs-api.hbs'}}
  </div>
</div>
<div class='addon-demo-live'>
  <div class='addon-demo-title'>
    Live demo
  </div>
  <div class='addon-demo-snippet'>
    {{code-snippet name='frost-detail-tabs-content.hbs'}}
  </div>
  <div class='addon-demo-component'>
    {{! BEGIN-SNIPPET frost-detail-tabs-content }}
    <div class='future'>
      <div class='future-tabs'>
        {{#frost-detail-tabs
          hook='detail-tabs'
          tabs=tabs
          selectedTab=selectedTab
          onSelect=(action 'onSelect')
        as |controls|
        }}
          {{controls.more
            tabs=apiTabs
          }}
        {{/frost-detail-tabs}}
      </div>
      <div class='future-content'>
        {{frost-detail-tabs-more-outlet
          hook='detail-tabs-more-outlet'
        }}
        {{#if (gt viewSubtabs.length 0)}}
          {{frost-detail-subtabs
            hook='frost-detail-subtabs'
            subtabs=viewSubtabs
            selectedSubtab=selectedSubtab
            onSelect=(action 'onSubtabSelect')
          }}
        {{/if}}
        <div class='frost-detail-tab-content'>
          {{content}}
        </div>
        {{frost-detail-tab-actions
          hook='detail-tab-actions'
          tabActions=tabActions
          onDispatch=(action 'dispatch')
        }}
      </div>
    </div>
    {{! END-SNIPPET }}
  </div>
</div>