<div class="tab-nav" data-test={{hook (concat hook '-tabs') }}>
  {{#each tabs as |tab index|}}
    <div data-test={{hook (concat hook '-tabs-' index) }}>
      {{component tab hook=hook targetOutlet=targetOutlet selectedTab=selectedTab onChange=onChange}}
    </div>
  {{/each}}
</div>
<div class='content' data-test={{hook (concat hook '-tabs-content')}}>
  {{#from-elsewhere name=targetOutlet as |tab|}}
    {{component tab.content}}
  {{/from-elsewhere}}
</div>